extends layout.pug

block content

  nav.nav
    a.underline(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Abbie Bowen
        p Full Stack JavaScript Developer
        p National Board Certified Teacher


        .about-bio
          p  Education as we knew it turned upside down in the past year and half. As a teacher, the sucess of my students became dependent on how we utilized educational technology apps and websites. This new way of teaching and learning completely changed my vision for the future of education and I am excited to be a part of that evolution in a new way. I am looking forward to solving problems with your development team and bringing my passion for education to software development.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Atom
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li abbie.bowen.42@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/abbiebowen/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/Abbie-Bowen' target="_blank") GitHub
 

    nav.nav
      a.underline(href='/')
        span &larr;
        |  Back