<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    div#my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/Abbie_BowenPink.png', alt='Abbie Bowen, Javascript Developer Pink and Floral Logo')
        .dev-intro-box
          p I look forward to using my skills as a National Board Certified Teacher and a Full Stack Developer to help all kids learn. 
          a.underline(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' onclick="toggleSidebar()")
          span Abbie Bowen

      block content

  script(src='/static/js/script.js')