extends layout.pug

block content 

    article    
        .inner-wrapper.box
            h1 Oops! That page does not exist. 
            video.error(src='/static/images/Bummer.mp4', autoplay, loop, muted, alt='Potted plant making a sad face with the word: bummer.')
            br
            button(onclick="showErrorInfo()") More Info 
            div.errorInfo(style='display:none')
               h2= `${err.status}: ${err.message}`
               p #{err.stack}
               
            h3 Click the link below to go back to the home page. 

    nav.nav.error
        a.underline(href='/')
            span &larr;
            |  Back